<h3 class="text-center">{{ 'TITULO TABLA' | translate}}</h3>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{ 'PAIS' | translate}}</th>
                <th>{{ 'CIUDAD' | translate}}</th>
                <th>{{ 'PRESUPUESTO INICIAL' | translate}}</th>
                <th>{{ 'PRESUPUESTO CONVERTIDO' | translate}}</th>
                <th>{{ 'TASA DE CAMBIO' | translate}}</th>
                <th>{{ 'CLIMA' | translate}}</th>
                <th>{{ 'TEMPERATURA' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consulta of historial">
                <td>{{consulta.ciudad?.pais?.nombre}}</td>
                <td>{{consulta.ciudad?.nombre}}</td>
                <td>$ {{consulta.presupuesto_original}} COP</td>
                <td>{{consulta.presupuesto_convertido}} {{consulta.ciudad?.pais?.codigo_moneda}}</td>
                <td>{{consulta.tasa_cambio}}</td>
                <td>{{consulta.clima}}</td>
                <td>{{consulta.temperatura}}° Celcius</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <p>Historial: {{historial | json}}</p> -->
<button type="button" class="btn btn-outline-secondary" routerLink="/">
    <i class="ri-corner-up-left-line"></i>&nbsp;Volver al inicio
</button>