<!-- <p>info-viaje works!</p> -->

<!-- <p>ciudad info: {{ infoCiudad | json }}</p> -->
<!-- <p>clima info: {{ infoClima | json }}</p> -->
<!-- <p>Dinero info: {{ infoDinero | json }}</p> -->

<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                <h4 class="text-center">Información de la ciudad</h4>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Nombre:</strong> <i>{{infoCiudad.nombre}}</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>País:</strong> <i>{{infoCiudad.pais.nombre}}</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Latitud:</strong> <i>{{infoClima.coord.lat}}</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Longitud:</strong> <i>{{infoClima.coord.lon}}</i>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                <h4 class="text-center">Información del clima</h4>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Clima:</strong> <i>{{infoClima.weather[0].main}}</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Descripción clima:</strong> <i>{{infoClima.weather[0].description}}</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Temperatura:</strong> <i>{{ infoClima.main.temp }} C°</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Temperatura mínima:</strong> <i>{{infoClima.main.temp_min}} C°</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Temperatura máxima:</strong> <i>{{infoClima.main.temp_max}} C°</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Presión:</strong> <i>{{infoClima.main.pressure}}</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Humedad:</strong> <i>{{infoClima.main.humidity}}</i>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                <h4 class="text-center">Información del presupuesto</h4>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Nombre moneda local:</strong> <i>{{simbolosMoneda[infoCiudad.pais.codigo_moneda].nombre}}</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Simbolo moneda local:</strong> <i
                            class="h1">{{simbolosMoneda[infoCiudad.pais.codigo_moneda].simbolo}}</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Presupuesto original:</strong> <i>{{dinero}} COP</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Presupuesto convertido:</strong> <i>{{dineroConvertido}} {{ infoCiudad.pais.codigo_moneda }}</i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Tasa de cambio aplicada:</strong> <i>{{tasaCambio}}</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-around">
    <button class="btn btn-outline-secondary" routerLink="/pais-ciudad">
        <i class="ri-corner-up-left-line"></i>&nbsp;Volver al inicio
    </button>
    <button class="btn btn-outline-success" (click)="guardarPresupuesto()"
        [disabled]="btnGuardarPresupuesto">Guardar&nbsp;<i class="ri-save-line"></i></button>
</div>